/**
 *  Global
 */
@import 'global/fonts';
@import 'global/grid';
@import 'global/variables';

/**
 *  Partials
 */
@import 'partials/siteFooter';
@import 'partials/siteHeader';

/**
 *  Subpages
 */
@import 'subpages/frontpage';
@import 'subpages/gallery';
@import 'subpages/images';
@import 'subpages/videos';
@import 'subpages/subpage';

a{
    text-decoration: none !important;
    outline: none !important;
    transition: ease .3s;

    &:focus{

    }
}

.btn{
    display: inline-block;
    min-width: 180px;
    height: 45px;
    line-height: 45px;
    background-color: $main;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-transform: uppercase;
    transition: ease .3s;

    &:hover{
        background-color: $mainhover;
    }
    
    span{
        font-size: 15px;
        line-height: inherit;
        font-weight: 600;
        padding: 0 20px;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
    }

    &--center{
        display: block;
        max-width: 180px;
        margin: 0 auto;
    }
    &--button{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        border: 0;
        cursor: pointer;
    }
}
@media (max-width: 767px){
    .btn{
        min-width: 150px;
        height: 40px;
        line-height: 40px;

        span{
            font-size: 13px;
        }

        &--center{
            max-width: 150px;
        }
    }
}